
.head 

.header {
  text-align:center;
  
}

#tagCloud {
  position: relative;
  width: 100%;
  height: 100%;
  color: bisque;
  background-color: #252121;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: none;
}

.tag {
  position: absolute;
  padding: 10px 20px;
  background-color: #3498db;
  color: bisque;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s, font-size 0.2s;
  font-size: 16px;
  pointer-events: all;
  animation: tagAnimation 10s infinite;
}

.tag:hover {
  transform: scale(1.8);
}

@keyframes tagAnimation {
  0%, 100% {
    font-size: 16px;
    color: bisque;
  }
  50% {
    font-size: 48px;
    color: #cc5500; /* burnt orange */
  }
}